<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo p-1">
      <a class="navbar-brand m-auto" routerLink="/product">Shop</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
   
    <div class="login-logout">
      <button class="btn btn-secondary me-1" routerLink="/login">Login</button>
      <button class="btn btn-secondary" routerLink="/signup">SignUp</button>
    </div>
  </div>
</nav>
